 
body.print {width: 18cm; margin: auto; font-size: 90%; text-align: justify;}

h1.print {text-align: center; border: 0.5mm solid; margin-bottom: 1cm; }
#acces {border: 1mm solid; width: 10cm; margin: 1cm auto 2cm auto; padding: 0.5cm; font-size: 110%;}
#acces p {margin: auto;}
#accestable {margin: auto;}
span.idents {width: 5cm;}

.suggestionsBox {
    position: relative;
    left: 0px;
    margin: 5px 0px 0px 0px;
    padding: 2px;
    width: 300px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
 
.suggestionList {
    margin: 0px;
    padding: 0px;
}
 
.suggestionList li {
    margin: 0px 0px 3px 0px;
    padding: 3px;
    cursor: pointer;
    list-style-type: none;
}
 
.suggestionList li:hover {
    background-color: #006DCC;
    color: white;
}

.notice {margin-top: 75px;}